<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <header>
        <center>
            <h1>Welcome to the Vertical Search Engine</h1>
            <div class="search-bar">
                <form action="/search" method="post">
                    <input type="search" id="query" name="query" class="search" title="Search" />
                    <button type="submit">
                        <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59
                            4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01
                            14 9.5 11.99 14 9.5 14z"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </center>
    </header>

    <main>
        <ul id="results">
            {% if search_results_list|length > 0 %}

            {% for r in search_results_list %}
            <li>
                <a href="{{ r.publication_link }}">
                    <h3 class="title">{{ r.title }}</h3>
                    <div class="link">{{ r.publication_link }}</div>
                </a>
                <p><span class="date">{{ r.publication_year }} - </span>
                    {% for a in r.authors %}
                        {% if a.link != "" %}
                            <a href="{{ a.link }}">{{ a.name }}</a>,
                        {% else%}
                            {{ a.name }},
                        {% endif %} 
                    {% endfor %}
                </p>
            </li>
            {% endfor %}
            {% else %}
                <p class="mt-4 text-center">No search result</P>
            {% endif %}
            
        </ul>
    </main>

    <footer>
        
    </footer>




    <!-- <center>
        <header> 
        </header>
        <div class="logo">
          <img alt="Google" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">
        </div>
        <h1>Welcome to the Search Engine</h1>
        <form action="/search" method="post">
            <label for="query">Enter your query:</label><br>
            <div class="bar">
                <input class="searchbar" type="text" title="Search" id="query" name="query">
            </div>
            <div class="buttons">
                <button class="button" type="submit" value="search">Search</button>
            </div>
        </form>
    </center> -->


    <!-- <h1>Welcome to the Search Engine</h1>
    <form action="/search" method="post">
        <label for="query">Enter your query:</label><br>
        <div class="searchbox">
            <svg aria-hidden="true" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
            </svg>
            <input 
              aria-label="Search for a place on the map" 
              autocomplete="off"
              inputmode="search" 
              placeholder="Enter place name or address"
              type="search" 
              id="query" name="query"
            />
          </div>
        <input type="submit" value="Search">
    </form> -->
    <!-- <div class="mt-4 text-center"><h4>Search Results For {{user_query}}</h4></div>
    <div class="row">
        <div class="col-md-12">
            
            {% if search_results_list|length > 0 %}

            {% for r in search_results_list %}
            <div class="row search-item">
                <div class="col-md-12">
                    <a href="{{ r.publication_link }}">{{ r.title }}</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p class="mt-4 text-center">No search result</P>
            {% endif %}
            
        </div>
    </div> -->
</body>
</html>